<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>de.uni-stuttgart.physcip.reg</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/python</string>
		<string>/usr/local/bin/process_registration.py</string>
		<string>/Sites/physreg/tasks</string>
	</array>
	<key>QueueDirectories</key>
	<array>
		<string>/Sites/physreg/tasks</string>
	</array>
	<key>UserName</key>
	<string>root</string>
	<key>StandardOutPath</key>
	<string>/var/log/physreg.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/physreg.log</string>
</dict>
</plist>
