body {
	background-color: #EEF1F4;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #2E2F3F;
}

h1, h2 {
	color:#336699;
}

#langselect {
	float: left;
	width: 128px;
	background-image: url(physciplogo.gif);
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 148px;
	text-align: center;
}

#content {
	margin-left: 138px;
}

input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
	color:#336699;
	line-height: 14pt;
	font-weight: bold;
	background-color: #FFFFFF;
}

input.BTN_cancel {
	background-color: #cccccc;
}

input.langbutton {
	width: 100px;
}

#errorbox {
	background-color: white;
	border: 10px solid #9999ff;
	position: absolute;
	height: 100px;
	width: 180px;
	left: 300px;
	top: 300px;
}